h1 {
    color: #2B4546;
    font-family: 'e-Ukraine';
    font-weight: 500;
    font-size: 48px;
}

h2 {
    color : #2B4546;
    font-family: 'Fixel';
    font-weight: 600;
    font-size : 32px;
}

p {
    color : #2B4546;
    font-family: 'Fixel';
    font-weight: 300;
    font-size: 16px;
}

.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}