---
---
<header>
  <h1
    class="reveal-type font-eukraine text-6xl md:text-9xl font-black leading-tight mb-4 whitespace-nowrap"
    data-bg-color="#DCE4E7"
    data-fg-color="#779EA5"
  >
    Привіт, ми
  </h1>
  <h2
    class="reveal-type font-eukraine text-5xl md:text-8xl font-bold whitespace-nowrap"
    data-bg-color="#DCE4E7"
    data-fg-color="#779EA5"
  >
    Патріотична<br />
    молодь<br />
    України
  </h2>
</header>