---
import Profile from "../../assets/avatar.jpg";
const { userData } = Astro.props
---
  <div
    class="bg-dusty-teal rounded-tl-2xl rounded-tr-2xl -mx-4 px-4 py-4 flex items-center gap-4 cursor-pointer"
  >
    <img src={Profile.src} class="w-12 h-12 rounded-lg" alt="User avatar" />
    <div class="font-fixel text-deep-forest">
      <div class="text-base font-semibold">{userData.fname + ' ' + userData.sname}</div>
      <div class="text-sm font-medium">{userData.bio}</div>
    </div>
  </div>
