---
import { Icon } from "astro-icon/components";

const { title } = Astro.props;
---

<div class="mb-4 flex gap-2 items-center cursor-pointer">
    <Icon name="paper" class="w-4 h-4 text-deep-forest"/>
    <dic class="font-fixel font-medium text-[15px] text-deep-forest">{title}</div>
</div>